<% provide(:title, 'Users') %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>Users</h1>
    </div>

    <ul class="users">
      <% @users.each do |user| %>
      <h3><%= render user %></h3>
      <br>
      <% end %>
    </ul>

  </div>
</div>
