<% provide(:title, "Home") %>

<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <h4>Resplash is an app that I'm working on just for fun and practice before an interview.</h4>
        <h5>I hope to expand on it more by fixing the style and adding more functionality such as the ability to follow users and upload your own images but feel free to explore!</h5>
        </select></h5>
      </div>
    </div>
  </div>
</div>
