@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #4a698d;
  text-decoration: none;
}

body {
  padding-top: 60px;
}


#search-box {
  margin: 2%;
  margin-left: 78%;
}

#search-results {
  float: right;
  width: 50%;
}

#results {
  height: 20em;
  overflow: auto;
}

.result:hover {
  color: #FF9800;
}
