@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

$gray-medium-light: #eaeaea;

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.lead {
  font-style: italic;
  font-weight: 300;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-image: url("https://images.unsplash.com/photo-1487283981457-92340b7c6621?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=d6b6f0ad2472ab9da7fd0276cb4fac1e");
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #4a698d;
  text-decoration: none;
}

body {
  padding-top: 60px;
}


#search-box {
  margin: 2%;
  margin-left: 78%;
}

#search-results {
  float: right;
  width: 50%;
}

#results {
  height: 20em;
  overflow: auto;
}

.result:hover {
  color: #FF9800;
}
.col-md-4 {
  padding-bottom: 30px;

}

.btn-primary:active {
  background: purple !important;
}

img {
  padding-bottom: 10px;
}
