<h1>Images</h1>
<%= form_tag images_path, :method => 'get', id: "search-form" do %>
<p>
  <%= text_field_tag :search, params[:search], placeholder: "Search Images"  %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<% if @images %>
<ul class="images">
  <% @images.each do |image| %>
  <%= link_to image_tag("#{image.urls.regular}",  class: "rounded float-left", width: "304", height: "236"), image.urls.full %>
  <% end %>
</ul>
<% end %>
